.center { text-align: center !important }
.right { text-align: right; }
.left { text-align: left; }
.borde{
	border-style: solid;
	border-width: medium;
	border-collapse:collapse;
	border-color: navy;
	padding: 0;
	padding-bottom: 0;
}
.letrabonita{
	font-weight: 800;
	font-size: large;
	text-shadow: 5px 5px 5px #aaa;
	color: navy;
}
 .tooltip.top .tooltip-arrow {
 	border-top-color:#A9D0F5;
    text-shadow: 5px 5px 5px #aaa;
 }
 .tooltip-inner {background-color:#A9D0F5; color:navy;font-family: verdana; font-size: small;}
 .label{
     font-weight: 500;
     font-size: 13px;
     color:navy;
    text-shadow: 5px 5px 5px #aaa; 
    font-family: verdana;
 }

 .up{
 	vertical-align: top;
 }

